{% extends 'base.html' %}
{% load staticfiles %}

<body>
{% block content %}
   <div class="container">
    <h1 align="center">Welcome to Django Calculator!</h1>
    <img src="{% static "calculator/IMG_3681.jpg" %}" alt="Hollin/William" align="right" height="200" width="200" class="img-thumbnail">
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Submit</button>
        <p></p>
        {{ number1 }} {{ operators }} {{ number2 }} = {{ result }}
        <p></p>
    </form>
   </div>
{% endblock %}
</body>
</html>